{
	margin: 0;
	padding: 0;
}

.slide {
	width: 100vw;
	height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: 400vh;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}

.one {
	background: #efdefe;
	background-image: url(4.jpg);
}

.two {
	background: #a3f3d3;
	background-image: url(4.jpg);
}

.three {
	background: #0bbaa0;
	background-image: url(4.jpg);
}

.four {
	background: #efbebe;
	background-image: url(4.jpg);
}

.outer-wrapper {
	height: 100vh;
	width: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
};